*{
	flex: wrap;
	font-family: "Helvetica Neue", "Roboto", sans-serif, monotype;
}

.parallax{
	height: 100%;
	width: auto;
	position: relative;
}

#img{
	width: 100%;
	height: auto;
}

#pText{
	position: absolute;
	top: 50%;
	color: white;
	padding-left: 30px;
}

#parHead{
	font-size: 10vw;
	font-family: "IBM Plex Sans";
}

#about{
	padding: 100px 0px 50px;
}

.skills{
	padding: 50px 0px 50px;
	background-color: rgb(227, 229, 232);
}

.projects{
	padding: 50px 0px 50px;
}

.footer {
	background-color: rgb(227, 229, 232);
	padding: 50px 0px 50px;
	
}