*{
	/*margin: 0;*/
	text-align: center;
	flex: wrap;
	font-family: "Raleway", Monotype;
}

header{
	background-color: rgb(33, 33, 33);
	width: 100%;
/*	position: fixed;*/
}

.navbar{
	list-style-type: none;
	display: inline-block;
	padding: -100px;
}

.navbar-pos{
	padding: 0px 10px 0px 10px;
}

#vijayimg{
	width: 250px;
	border: 2px solid white;
	border-radius: 50%;
}

#logo{
	float: left;
	width: 50px;
	padding: 15px;
}

.button {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 11px;
    font-family: "Raleway", Monotype;
    color: #FFFFFF;
    padding: 20px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
}

.navbar-pos :hover{
	transition: all 0.5s;
	background-color: green;
}

footer{
	background-color: rgb(33, 33, 33);
}

#footer-text{
	padding-top: 10px;
	font-size: 22px;
	color: white;
}

.social-icons{
	width: 100px;
	padding: 0px 40px;
	padding-bottom: 10px;
}