/*FONT IMPORT*/

@font-face{
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face{
	font-family: "MontserratBold";
	src: url("fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face{
	font-family: "MontserratItalic";
	src: url("fonts/Montserrat-Italic.ttf") format("truetype");
}

/*END FONT IMPORT*/

/*BODY SECTION*/

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	line-height: 1.5rem;
}

.body_wrapper{
	background: linear-gradient(70deg, rgba(31, 31, 31, 0.4), rgba(74, 74, 74, 0.4)), url("./img/bg6.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-family: "Montserrat";
	color: rgb(235, 235, 235);
}

/*END BODY SECTION*/


/*COMMON CLASS*/

.heading{
	font-size: 9rem;
	font-family: "MontserratBold";
}

.paragraph{
	font-size: 1.5rem;
}

/*link underline*/

p > a {
  text-decoration: none;
  position: relative;
  color: lightblue;
}

p > a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid white;
  transition: 0.4s;
}

p > a:hover:after {
  width: 100%;
}

/*END COMMON CLASS*/


/*HEADER SECTION*/

.header{
	text-transform: uppercase;
	padding-top: 10vh;
	font-family: "MontserratItalic";
}

.innerHeader{
	padding-top: 10px;
	font-family: "Montserrat";
}

.innerHeader a{
	color: white;
}

/*END HEADER SECTION*/


/*HERO SECTION*/

.hero{
	padding-top: 70px;
}

#hero_image{
	width: 60%;
	height: auto;
}

#hero_name{
	font-size: 8rem;
	font-weight: 800;
}

/*END HERO SECTION*/


/*ABOUT SECTION*/

.about{
	padding-top: 50px;
}

.about_first p{
	font-size: 5rem;
	font-weight: normal;
}

/*END ABOUT*/


/*SKILLS SECTION*/

.skills{
	padding-bottom: 10px;
}

/*END SKILLS*/


/*PROJECTS  SECTION*/

.card-title{
	color: black;
}

.card-text{
	color: #969696;
}

/*END PROJECTS SECTION*/


/*INTERSHIP SECTION*/

.internship{
	padding: 20px 0 50px 0;
}

/*END INTERNSHIP SECTION*/


/*FOOTER SECTION*/

.footer_heading{
	font-size: 5rem;
}

/*END FOOTER SECTION*/