/*
  Color Scheme : #7579ff, #ab56cf, #551DFC, #3c3c3c
  New color scheme:   background: linear-gradient(60deg, rgb(145,29,240), rgb(240,29,145),  rgb(145,29,240))
*/

@font-face {
  font-family: "flipside";
  src: url("../fonts/flipside.ttf") format("truetype")
}

@font-face {
  font-family: "baron neue";
  src: url("../fonts/Baron Neue.otf") format("opentype")
}

@font-face {
  font-family: "quicksand";
  src: url("../fonts/Quicksand-Regular.ttf") format("truetype")
}

@font-face {
  font-family: "bitink";
  src: url("../fonts/bitink.ttf") format("truetype")
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
  
 @font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans';
  src: url('../fonts/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  line-height: 1.75;
  /* scroll-behavior: smooth; */
}

/*BACKGROUND SECTION*/

body{
	margin: 0;
  font-family: "FiraSans", sans-serif;
  background: url("../images/galaxy_min_bg-min.png") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "quicksand", sans-serif;
}

/*END BACKGROUND SECTION*/

/*NAVBAR SECTION*/

.bg-blue{
  background-color: rgb(25, 129, 176, 0.5);
}

.navbar a{
  margin: 0px 7vw;
}

/*END NAVBAR SECTION*/

#kratos_logo{
	width: 25px;
}

.hero{
	padding-top: 15vh;
	height: 100vh;
	text-align: center;
  background: url("../images/kratos_logo_trans.png") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 25vw;
}

.hero_text{
	text-align: center;
	font-size: 5.6rem;
  color: white;
  text-transform: uppercase;
  padding: 20px 0px;
}

#hero_register_link {
  /*display: block;*/
  color: white;
  background: linear-gradient(60deg, rgb(142, 16, 214), rgb(85,29,252),  rgb(117,121,255));
  /*background: linear-gradient(60deg, rgb(68,0,139), rgb(159,69,176),  rgb(159,69,176));*/
  padding: 10px 20px;
  font-size: 1.5rem;
  border-radius: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 4px 20px -5px rgba(0,0,0,0.6);
          box-shadow: 0px 4px 20px -5px rgba(0,0,0,0.6);
  -webkit-transition: -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
}

#hero_register_link:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.6);
          box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.6)
}

#hero_register h2{
	margin-top: 20px;
}

.hero_text h1{
  font-family: "baron neue", "flipside", "bitink", sans-serif;
  font-size: 5.6rem;
  /*background: linear-gradient(60deg, rgb(67, 108, 242), rgb(114, 67, 242), rgb(67, 195, 242));*/
  /*background: linear-gradient(60deg, rgb(68,0,139), rgb(159,69,176),  rgb(159,69,176));*/
  /*background: linear-gradient(60deg, rgb(240,29,229), rgb(240,29,124),  rgb(145,29,240));*/
  background: linear-gradient(60deg, rgb(145,29,240), rgb(240,29,145),  rgb(145,29,240));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: 800;
  text-align: center;
}

.hero_subtitle {
  font-family: "quicksand", sans-serif;
	padding-top: 50px;
  color: #3c3c3c;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.hero_info {
  font-size: 1rem;
  font-weight: bold;
}

@-webkit-keyframes scroll_arrow_bounce {
  0% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-10px);
            transform: translateX(-50%) translateY(-10px);
  }
}

@keyframes scroll_arrow_bounce {
  0% {
    -webkit-transform: translateX(-50%) translateY(0);
            transform: translateX(-50%) translateY(0);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-10px);
            transform: translateX(-50%) translateY(-10px);
  }
}

#scroll_arrow {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom:0;
  background: url(../images/scroll_arrow.png);
  background-size: 40px;
  width: 40px;
  height: 40px;
  -webkit-animation: scroll_arrow_bounce .5s ease-in-out infinite;
          animation: scroll_arrow_bounce .5s ease-in-out infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

/*END HERO SECTION*/

/*COUNTDOWN TIMER*/

#countdown{
  /*color: rgb(64, 65, 66);*/
  color: white;
}

.timer h2{
  font-family: "quicksand", sans-serif;
  text-align: center;
  margin: 50px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

#countdown {
  position: relative;
  font-size: 3.2rem;
  /*line-height: 40px;*/
  /*font-weight: bold;*/
  /*background: white;*/
  /*color: rgb(142, 16, 214);*/
  padding: 30px 30px;
  /*border-radius: 30px;*/
  text-align: center;
  font-variant-numeric: tabular-nums;
  /*margin-top: 30px;*/
  margin-bottom: auto;
}

#countdown::after {
  content: '';
  width: 94%;
  height: 45px;
  position: absolute;
  /*-webkit-box-shadow: 0 0 45px -5px rgba(0,0,0,0.5);
          box-shadow: 0 0 45px -5px rgba(0,0,0,0.5);*/
  z-index: -1;
  top: 50%;/*
  -webkit-transform: translateY(-50%) rotateZ(-10deg);
          transform: translateY(-50%) rotateZ(-10deg);*/
  left: 10px;
}

.countdown_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
  text-align: center;
}

.countdown_unit {
  font-size: 1rem;
  font-weight: normal;
}

/*END COUNTDOWN TIMER*/

/*ABOUT SECTION*/

.about{
  font-family: "quicksand", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*background: linear-gradient(60deg, rgb(171, 86, 207), rgb(85,29,252), rgb(117,121,255));*/
  background: url("../images/space.jpg") no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  color: white;
  margin: 50px 0px;
}

.about_title {
  padding: 30px 0px;
  text-transform: uppercase;
}

#about_dep{
  padding: 20px 20px;
  text-align: center;
}

#about_kratos{
  padding: 20px 20px;
  text-align: center;
}

.about_content{
  /*background: linear-gradient(60deg, rgba(171, 86, 207, 0.8), rgba(85,29,252,0.8), rgba(117,121,255,0.8));*/
  padding: 20px 20px;
}
/*END ABOUT SECTION*/

/* Start: Register Section */

#register:after {
  content: "Registrations will open soon";
  background: black;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  color: white;
  text-transform: uppercase;
  padding-top: 25%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 4px;
}

#register {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
          justify-content: flex-start;
  min-height: 100vh;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.register_title {
  text-align: center;
  margin: 60px 0 40px;   
  font-size: 3rem;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

#register_wrapper {
  position: relative;
  /*background: linear-gradient(60deg, rgb(171, 86, 207), rgb(85,29,252) 20%, rgb(117,121,255));*/
  -webkit-box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
          box-shadow: 2px 4px 8px 0 rgba(46,61,73,.2);
  padding: 42px 0px;
  text-align: center;
  width: 100%;
}

#register_form {
  color: white;
  display: inline-block;
  text-align: left;
}

#register_form label {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  position: relative;
}

#register_form label .label {
  position: absolute;
  left: 10px;
  top: 11px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #f3f3f3;
  width: 150px;
}

#register_form  input[type="text"], #register_form select {
  display: block;
  width: 300px;
  height: 50px;
  /*background: rgb(87, 40, 228);*/
  background: rgb(142, 16, 214);
  border: none;
  padding: 10px 20px;
  color: white;
  margin-bottom: 40px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: background .2s;
  transition: background .2s;
  outline: none;
  border: none;
  letter-spacing: 1px;
}

#register_form input[type="text"]:focus {
  background: rgb(71, 22, 218);
}

#register_form input[type="text"]:focus ~ .label, #register_form input[type="text"]:valid ~ .label, #register_form select:focus ~ .label, #register_form select:valid ~ .label {
  -webkit-transform: translateY(-40px) translateX(-20px) scale(.8);
          transform: translateY(-40px) translateX(-20px) scale(.8);
}

#register_form  input[type="text"]::-webkit-input-placeholder {
  opacity: 0;
}

#register_form  input[type="text"]:-ms-input-placeholder {
  opacity: 0;
}

#register_form  input[type="text"]::-ms-input-placeholder {
  opacity: 0;
}

#register_form  input[type="text"]::placeholder {
  opacity: 0;
}


#register_form  input[type="submit"]{
  display: block;
  background: linear-gradient(60deg, rgb(142, 16, 214), rgb(85,29,252), rgb(117,121,255));
  padding: 10px 19px;
  text-align: center;
  border: none;
  margin: 0 auto;
  margin-top: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.5rem;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
          box-shadow: 0 0 10px rgba(0,0,0,0.4);
  color: white;
  cursor: pointer;
  margin-top: 45px;
  -webkit-transition: -webkit-transform .3s ease-in-out, -webkit-box-shadow .5s ease-in-out;
  transition: -webkit-transform .3s ease-in-out, -webkit-box-shadow .5s ease-in-out;
  transition: transform .3s ease-in-out, box-shadow .5s ease-in-out;
  transition: transform .3s ease-in-out, box-shadow .5s ease-in-out, -webkit-transform .3s ease-in-out, -webkit-box-shadow .5s ease-in-out;
}

#register_form  input[type="submit"]:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* End: Register Section */


/*  Start: Map Section */

#gmap {
  /*margin-top: 50px;*/
}

.mapouter {
  text-align:right;
  height:500px;
  width:100%;
}
  
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;
  width:100%;
}

/* End: Map Section */

/*FOOTER SECTION*/

#footer_social {
  background: -webkit-gradient(linear, left top, right top, from(rgb(171, 86, 207)), color-stop(rgb(85,29,252)), to(rgb(117,121,255)));
  background: linear-gradient(90deg, rgb(171, 86, 207), rgb(85,29,252), rgb(117,121,255));
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 20px -5px rgb(85,29,252);
          box-shadow: 0 0 20px -5px rgb(85,29,252);
}

#footer_social img {
  width: 65px;
  vertical-align: middle;
  /*padding: 0 10px;*/
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

#footer_social img:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#footer{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer_bottom_h2{
	margin: 50px 0px;
	text-align: center;
}

#footer_bottom {
  padding: 50px 0;
  color: white;
}

.footer_contact_list_item {
  clear: both;
  margin-bottom: 10px;
}

.footer_contact_list_item .post {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.card{
	color: white;
	background: transparent;
	text-align: center;
	padding: 20px;
}

.card img{
  width: 15rem;
  border-radius: 50px;
}

#footer_contact .title {
  color: grey;
  font-size: 18px;
  background-color: grey;
  cursor: pointer;
}

#footer_contact h3 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#footer_contact a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

#footer_contact button:hover, a:hover {
  opacity: 0.5;
  transform: (1.1);
  transition: all 0.5s;
}

#footer_social h2{
  color: white;
}

#footer_contact_list .footer_contact_list_item{
  border-radius: 15px;
}

.footer_contact_list_item img{
  padding-top: 5px;
}

.footer_contact_end{
	font-size: 10px;
}

#footer_contact_list .post{
  color: white;
}

#footer_contact {
  padding: 0 100px;
}

#footer_contact h2 {
  text-transform: uppercase;
}

#footer_contact ul {
  list-style-type: none;
}

.email{
  color: white;
  text-align: center;
}

#footer_email{
	color: white;
}

.number {
  float: right;
  margin-left: 10px;
  color: transparent;
  background: linear-gradient(60deg, rgb(171, 86, 207), rgb(85,29,252) 20%, rgb(117,121,255));
  -webkit-background-clip: text;
          background-clip: text;
}

#footer_copyright {
  bottom: 5px;
  text-align: center;
}

#footer_copyright a{
  font-size: .7rem;
	color: white;
}

/*END FOOTER SECTION*/

/*LOADING SCREEN*/
#loading_screen {
  background: linear-gradient(60deg, rgba(171, 86, 207, 1), rgba(85,29,252,1), rgba(117,121,255,1));
  opacity: 0.8;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.disp_none {
  display: none;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

#loading_screen > p {
  position: absolute;
  color: white;
  top: 65%;
  left: 50%;
}

@-webkit-keyframes rotator {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
}

@keyframes rotator {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite;
}

@-webkit-keyframes dash {
 0% { stroke-dashoffset: 187; }
 50% {
   stroke-dashoffset: 47;
   -webkit-transform:rotate(135deg);
           transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 187;
   -webkit-transform:rotate(450deg);
           transform:rotate(450deg);
 }
}

@keyframes dash {
 0% { stroke-dashoffset: 187; }
 50% {
   stroke-dashoffset: 47;
   -webkit-transform:rotate(135deg);
           transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: 187;
   -webkit-transform:rotate(450deg);
           transform:rotate(450deg);
 }
}
/*END LOADING SCREEN*/

/*MEDIA QUERIES*/

@media (max-width:320px) { 
	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	.hero_text h1{
		font-size: 3em;
	}
}

@media screen and (device-aspect-ratio: 40/71) {
  .hero_info{
    font-size: 15px;
  }
  .timer{
    font-size: 1.5rem;
  }
}

@media (max-width:480px) { 
/* smartphones, Android phones, landscape iPhone */ 
	body{
    /*background: url("../images/phone3.jpeg") no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
  }
  .hero_text h1{
		font-size: 3rem;
	}
  .hero_info{
    font-size: 20px;
  }
  .timer{
    font-size: 1.5rem;
  }
}

@media (min-width:600px) { 
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
	.hero_text h1{
		font-size: 5.6rem;
	}
  .hero_info{
    font-size: 2rem;
  }
}
@media (min-width:801px) { 
/* tablet, landscape iPad, lo-res laptops ands desktops */ 	
	.hero_text h1{
		font-size: 5.6rem;
	}
}
@media (min-width:1025px){ 
/* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1281px){
 /* hi-res laptops and desktops */ 
}

/*END MEDIA QUERIES*/