#navbar .active{
  padding-bottom: 10px;
}

.navbar-brand img{
  width: 5vh;
  height: auto;
}
  
.hero{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(60deg, rgb(171, 86, 207), rgb(85,29,252), rgb(117,121,255));
}

#kratos_logo{
  display: flex;
  width: 50vw;
  opacity: 0.5;
  /*position: fixed;*/
}

.hero-text{
  position: absolute;
  text-align: center;
  color: white;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.hero-text .hero_right_el{
  color: white;
  font-size: 1.2rem;
}

#countdown{
  color: rgb(64, 65, 66);
}

#footer_social{
  margin: 20px;
  margin-top: 40px;
}

#footer_social h2{
  color: white;
}

.footer_contact_list h3, .title{
  background: linear-gradient(60deg, rgb(171, 86, 207), rgb(85,29,252), rgb(117,121,255));
}

.footer_contact_list .card: hover{
  transform: scale(1.1);
  transition: all 0.5s;
}