<!DOCTYPE html>

<html>

<head>

	<title>Vijay T S</title>
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<link rel="stylesheet" type="text/css" href="template.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

</head>

<body>

<div class="body">
<!-- Nav bar -->
	<header>
		<nav class="navbar">

				<div class="navbar">

					<ul class="navbar">
						<li class="navbar navbar-pos"><a href="../../index.html"><button class="button">HOME</button></a></li>
						<li class="navbar navbar-pos"><a href="../../index.html#projects"><button class="button">PROJECTS</button></a></li>
						<!-- <li class="navbar navbar-pos"><a href="page/blog.html"><button class="button">BLOG</button></a></li> -->
<!-- 						<li class="navbar navbar-pos"><a href="page/goals.html"><button class="button">GOALS</button></a></li> -->
						<li class="navbar navbar-pos"><a href="template.html"><button class="button">TEMPLATES</button></a></li>
				    </ul>

				</div>
		</nav>
	</header>
	
<!-- Contents of the website -->

		<div class="main-body">

			<!-- list of projects -->
			<div>
				
				<div>
					<a href="photographyTemplate/index.html" target="_blank" class="templateImage"><img src="photographyTemplate/ptemp.jpg" class="templateImage"></a>
				</div>

			</div>

			<div>
				
				<footer>
					<p id="footer-text">Find me on :</p> 
					<a href="https://www.linkedin.com/in/vijay-t-s-8a5722161/" target="_blank"><img src="../../image/linkedin-icon1.png" class="social-icons"></a> 
					<a href="https://codepen.io/im-vijayts/" target="_blank"><img src="../../image/codepen-icon1.png" class="social-icons"></a>
					<a href="https://github.com/im-vijayts" target="_blank"><img src="../../image/github-icon.png" class="social-icons"></a>
				</footer>

			</div>

		</div>

</div>

</body>
</html>